 .servicesDescription {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: white;
}

.servicesDescription p {
    width: 700px;
    font-size: 24px;
    font-style: italic;
    line-height: 35px;
    color: #22356F;
}

.servicesItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.serviceItem {
    height: 280px;
}

.serviceItem p {
    width: 180px;
    font-size: 20px;
    font-style: italic;
    color: white;
    margin-left: 20px;
}
